[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = srivasv
	email = srivas@imagen.ai
[core]
	editor = vim
[diff]
	tool = p4mergetool
[difftool]
    prompt = False
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = p4mergetool
[mergetool "meld"]
    cmd = meld $PWD/$LOCAL $PWD/$MERGED $PWD/$REMOTE --output $PWD/$MERGED
[mergetool "p4mergetool"]
	cmd = p4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[difftool "p4mergetool"]
	cmd = p4merge $LOCAL $REMOTE
